@{
    ViewData["Title"] = "Index Page";
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewData["Title"] - Echo</title>
    <meta name="author" content="Emir Sapmaz" />
    <link rel="stylesheet" href="~/css/style.css" asp-append-version="true" />
    <script defer src="~/js/script.js"></script>
    <link href="https://fonts.googleapis.com/css2?family=DM+Serif+Text&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,400,0,0&icon_names=attach_file,bolt,groups,speech_to_text" />
</head>
<body class="fade-in">
    <div class="wrapper">
        <div class="entrance">
            <div class="contain">
                <div class="wrap">
                    <div class="logo"><a style="color: black;"><img src="/img/logo.png" alt=""></div>
                    <p>Echo</p></a>
                </div>
                <p class="com">The better way of communication</p>
                <a asp-controller="Home" asp-action="Promo" id="anchor">Get Started</a>
            </div>
        </div>


    </div>
</body>
</html>
