@{
    ViewData["Title"] = "Promotion Page";
    Layout = null;
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewData["Title"] - Echo</title>
    <meta name="author" content="Emir Sapmaz" />
    <link rel="stylesheet" href="~/css/style.css" asp-append-version="true" />
    <script defer src="~/js/script.js"></script>
    <link href="https://fonts.googleapis.com/css2?family=DM+Serif+Text&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,400,0,0&icon_names=attach_file,bolt,groups,speech_to_text" />
    <style>
        .nav-right ul li a:hover{
            color: white;
        }
    </style>
</head>
<body class="fade-start">
    <div class="wrapper">
        <section class="promo" id="promo">
            <nav class="navbar">
             <div class="logoo">
                 <a class="logoo" asp-action="Promo" asp-controller="Home"><img src="/img/logo.png" alt=""></img><p>Echo</p></a>
             </div>
                <div class="nav-right">
                    <ul>
                        <li><a asp-controller="Account" asp-action="Login">Login</a></li>
                        <li><a asp-controller="Account" asp-action="Register">Register</a></li>
                    </ul>
                </div>
            </nav>
            <div class="hero">
                <h1>Welcome to the Future of Communication</h1>
                <p>Experience seamless messaging with <i style="font-weight: bold;">Echo</i>.</p>
            </div>
            <div class="features">
                <div class="feature">
                    <span class="material-symbols-outlined">
                        bolt
                    </span>
                    <p>Fast and Secure Messaging</p>
                </div>
                <div class="feature">
                    <span class="material-symbols-outlined">
                        groups
                    </span>
                    <p>Group Chats</p>
                </div>
                <div class="feature">
                    <span class="material-symbols-outlined">
                        attach_file
                    </span>
                    <p>Multi-media Sharing</p>
                </div>
                <div class="feature">
                    <span class="material-symbols-outlined">
                        speech_to_text
                    </span>
                    <p>Speech-to-text</p>
                </div>
            </div>
        </section>
    </div>
</body>
</html>
